<!DOCTYPE html>
<html>
  <head>
    <title>Better Wines</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Better Wines</h1>
    <a href="/wines">Wines</a>
  </body>
</html>
